.header .col-2{
    text-align: center;
}
.header .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .col-2 h4{
    margin-top: 10px; 
}
.header .row img{
    max-height: 150px;
    float: right;
    margin-right: 45px;
    border-radius: 20px;
}
.labs {
    display: flex;
    gap: 10px;
    justify-content: space-between; 
    flex-wrap: nowrap;
    margin: 20px;
}
.labs .row div{
    flex: 1 1 auto;
    text-align: center;
}

.labs button{
    display: inline-block;
    background: #ffffff;
    color: black;
    padding: 8px 30px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 30px;
    text-decoration: none;
    transition: backgroung 0.5s;
}
.labs button:hover{
    background: #dfdee0;
}
.info button{
    display: inline-block;
    background: #ffffff;
    color: black;
    padding: 8px 30px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 30px;
    text-decoration: none;
    transition: backgroung 0.5s;
}
.info ul{
    list-style-type: none;
}
.info button:hover{
    background: #dfdee0;
}
.info {
    display: flex;
}

.sidebar {
    width: 20%;
    padding: 10px;
}

.output {
    width: 80%;
    padding: 10px;
    border-left: 1px solid #ccc;
}




